body {
  background-image: url("../images/bg.jpg");
}

#heading {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 60px;
}

#start-btn {
  text-align: center;
  margin-top: 10%;
}

#start-text {
  font-family: "Press Start 2P", cursive;
}

#coin:hover {
  transform: scale(1.2);
}

#gif {
  display: none;
  width: 100%;
  text-align: center;
}

#answers li {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  font-size: 30px;
  font-family: "Press Start 2P", cursive;
  margin: 15px;
  cursor: pointer;
}

#answers li:hover {
  background-color: yellow;
}

#Question-Container {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}

#question-number {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

#time-left {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

#question {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  line-height: 40px;
}

#Answer-Container {
  width: 50%;
  margin: 0 auto;
}

#correct-incorrect {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

#result-time {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

#correct-answer {
  text-align: center;
  font-family: "Press Start 2P", cursive;
  line-height: 40px;
}

#result-Container {
  width: 50%;
  margin: 0 auto;
}

#result-heading {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

#number-correct {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

#number-incorrect {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

#number-unanswered {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

#start-over {
  width: 100%;
  text-align: center;
}

#start-over-btn {
  background-color: #e9e50a; /* Yellow */
  border: none;
  color: rgba(10, 2, 2, 0.952);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  margin: 15px;
  cursor: pointer;
  font-family: "Press Start 2P", cursive;
  font-size: 20px;
}

@media screen and (max-width: 740px) {
  #Question-Container,
  #Answer-Container,
  #result-container {
    width: 100%;
  }
}
