body {
  background-image: url("../images/bg.jpg");
}

#heading {
  font-family: "Press Start 2P", cursive;
  text-align: center;
  font-size: 60px;
}

#start-btn {
  text-align: center;
  margin-top: 10%;
}

#start-text {
  font-family: "Press Start 2P", cursive;
}

#coin:hover {
  transform: scale(1.2);
}

#start-over {
  display: none;
}

#answers li {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  font-size: 30px;
  font-family: "Press Start 2P", cursive;
}

#answers li:hover {
  background-color: yellow;
}

#Question-Container {
  width: 50%;
  margin: 0 auto;
}

#question-number {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

#time-left {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}

#question {
  text-align: center;
  font-family: "Press Start 2P", cursive;
}
